#contact{
    position: relative;
    top: 500px;
    margin: 20px;
    padding-top: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 60px;
}
.contact-text-content h2{
    position: relative;
    top: -5px;
    left: 35px;
    max-width: 200px;
}
.contact-text-content h1{
    position: relative;
    left: 45px;
    top: -20px;
    margin: 0;
    padding: 0;
    max-width: fit-content;
    font-weight: 700;
    text-decoration: underline;
}
.contact-text-content p{
    max-width: 600px;
    position: relative;
    left: 50px;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.contact-img img{
    width: 500px;
    height: 450px;
    transition: transform 0.3s ease;
} 
.contact-img img:hover {
  animation: float 0.6s ease-in-out infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}