#stacks {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    gap: 40px;
}
.stack-title{
    margin-right: 950px;
    max-width: 100px;
}


.container-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 180px;
    padding: 10px;

    border: 1px solid black;
    border-radius: 5px;

    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

.first-row img,
.second-row img{
    width: 40px;
    height: 40px;
}

.first-row,
.second-row,
.third-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* important for responsiveness */
    gap: 20px;
    width: 100%;
}


.container-icons:hover{
    transform: translateY(-5px);
    box-shadow: 
    0 8px 12px rgba(0, 0, 0, 0.4),
    0 16px 25px rgba(0, 0, 0, 0.15);
}
h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media (max-width: 700px) {

  #stacks {
    padding: 40px 20px;
  }

  .first-row,
  .second-row,
  .third-row {
    justify-content: center;
    gap: 15px;
  }

  .container-icons {
    width: 50%; /* 👈 THIS gives max 2 per row */
    max-width: 120px;
  }

  h5 {
    font-size: 14px;
  }
}